<%- include('../../partils/header') %>
<%- include('../../partils/navbar') %>
<div class="container-fluid mt-3">
    <div class="card">
        <div class="card-header">
            <h2 class="my-1 fs-6">Visualizar vendas cadastradas</h2>
        </div>
        <div class="card-body">
            <% if (totalVendasCadastrados > 0) { %>
            <div class="row">
                <div class="col-4 mb-3">
                    <label for="cliente" class="form-label">Cliente:</label>
                    <select name="cliente" id="cliente"
                        class="form-select form-select-sm">
                        <option value="LQS">LQS</option>
                    </select>
                </div>
                <div class="col-4 mb-3">
                    <label for="datainicial" class="form-label">Data
                        inicial:</label>
                    <input type="date" class="form-control form-control-sm"
                        name="" id="datainicial"
                        value="<%= datainicial %>"
                        onchange="filtrarData()">
                </div>
                <div class="col-4 mb-3">
                    <label for="datafinal" class="form-label">Data
                        final:</label>
                    <input type="date" class="form-control form-control-sm"
                        name="" id="datafinal"
                        value="<%= datafinal %>"
                        onchange="filtrarData()">
                </div>
                <div class="col-12 mb-3">
                    <input class="form-control form-control-sm" id="myInput"
                        type="text"
                        placeholder="Pesquise por cliente, descrição, quantidade, valor ou total..." />
                </div>
                <div class="col-12 mb-0">
                    <p id="totalItensFiltrados" class="mb-0">
                        Total de vendas encontradas:
                        <%= sales.length %>
                    </p>
                </div>
            </div>
            <% if (sales.length > 0) { %>
            <div class="table-responsive mt-3" id="tabelaRacks">
                <table
                    class="table table-sm table-striped table-bordered mb-2 mb-md-1">
                    <thead>
                        <tr>
                            <th class="px-2">Data</th>
                            <th class="px-2">Cliente</th>
                            <th class="px-2">Descrição</th>
                            <th class="px-2">Quantidade</th>
                            <th class="px-2">Valor</th>
                            <th class="px-2">Total</th>
                            <!-- <th class="px-2">Ações</th> -->
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        <% sales.forEach(movement => { %>
                        <tr>
                            <td class="text-nowrap px-2 datas text-nowrap">
                                <%= movement.data %>
                            </td>
                            <td class="text-nowrap px-2 text-nowrap">
                                <%= movement.cliente %>
                            </td>
                            <td class="text-nowrap px-2 text-nowrap">
                                <%= movement.descricao %>
                            </td>
                            <td class="text-nowrap px-2 text-nowrap">
                                <%= movement.quantidade %>
                            </td>
                            <td class="text-nowrap px-2 precos text-nowrap">
                                <%= movement.valor %>
                            </td>
                            <td class="text-nowrap px-2 precos text-nowrap">
                                <%= movement.total %>
                            </td>
                            <!-- <td class="px-2">
                                <div class="d-flex gap-2 p-0">
                                    <a href="#"
                                        class="btn btn-sm p-0 text-warning text-nowrap">
                                        <i class="bi bi-pen"></i> Editar</a>
                                    <form action="/admin/sales/delete"
                                        method="post"
                                        onsubmit="confirmDelete(event, this)">
                                        <input type="hidden" name="id"
                                            value="<%= movement.id %>" />
                                        <button type="submit"
                                            class="btn btn-sm p-0 text-danger text-nowrap">
                                            <i class="bi bi-trash3"></i> Deletar
                                        </button>
                                    </form>
                                </div>
                            </td> -->
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            <div class="col-12">
                <p class="mb-0 mt-2" id="totalGeral">Total geral: € 0</p>
            </div>
            <% } %>
            <% } else if (totalVendasCadastrados <= 0) { %>
            <p class="my-0">
                Não há nenhuma venda cadastrada para visualização.
                <a class="link-opacity-100" href="/admin/sales/new">Clique
                    aqui
                    para realizar o primeiro
                    cadastro.</a>
            </p>
            <% } %>
        </div>
    </div>
</div>
<script>
    const totalGeral = document.querySelector("#totalGeral");
    function filtrarData() {
        let datainicial = document.querySelector("#datainicial");
        let datafinal = document.querySelector("#datafinal");
        if (datafinal.value < datainicial.value) {
            datafinal.value = datainicial.value;
        }
        window.location.href =
            `/admin/sales/index?datainicial=${datainicial.value}&datafinal=${datafinal.value}`;
    }
    function confirmDelete(event, form) {
        event.preventDefault(); // Impede o comportamento padrão do formulário
        var movementConfirmed = window.confirm(
            "Deseja realmente excluir o usuário selecionado?"
        );
        if (movementConfirmed) {
            // Se o usuário confirmar, envie o formulário usando o método POST
            form.submit(); // Envie o formulário
        }
    }
    const totalItensFiltrados = document.querySelector("#totalItensFiltrados");
    const tabelaRacks = document.querySelector("#tabelaRacks");
    document.addEventListener("DOMContentLoaded", function() {
        var myInput = document.getElementById("myInput");
        myInput.addEventListener("keyup", function() {
            var value = this.value.toLowerCase();
            var rows = document.querySelectorAll("#myTable tr");
            var count =
                0; // Variável para contar os resultados encontrados
            rows.forEach(function(row) {
                var text = row.textContent
                    .toLowerCase();
                if (text.indexOf(value) > -1) {
                    row.style.display = "";
                    count++; // Incrementar o contador se o item for encontrado
                } else {
                    row.style.display = "none";
                }
            });
            totalItensFiltrados.innerHTML =
                `Total de vendas encontradas: ${count}`;
            if (count == 0) {
                tabelaRacks.style.display = "none";
                totalItensFiltrados.style.setProperty(
                    'margin-bottom', '0px', 'important');
                totalGeral.style.display = "none";
            } else {
                tabelaRacks.style.display = "";
                totalItensFiltrados.style.setProperty(
                    'margin-bottom', '');
                totalGeral.style.display = "";
            }
            calcularTotalFinal();
        });
        calcularTotalFinal();
    });
    function calcularTotalFinal() {
        const tabelaRacks = document.querySelector("#myTable");
        var total = 0;
        var rows = tabelaRacks.querySelectorAll("tr");
        rows.forEach(function(row) {
            if (row.style.display !== "none") {
                var preco = parseFloat(row.cells[5].innerText.replace(
                    '€', ''));
                total += preco;
            }
        });
        totalGeral.innerHTML =
            `Total geral: € ${total.toFixed(2).replace('.', ',')}`;
    }
    document.addEventListener('DOMContentLoaded', function() {
    const precos = document.querySelectorAll('.precos');
    const datas = document.querySelectorAll('.datas');

    function formatarValor(valor) {
        const numeroFormatado = parseFloat(valor).toFixed(2);
        const valorFormatado = numeroFormatado.replace('.', ',');
        const valorComEuro = `€ ${valorFormatado}`;
        return valorComEuro;
    }

    function formatarData(data) {
        const partesData = data.split('-');
        const dia = partesData[2].trim();
        const mes = partesData[1].trim();
        const ano = partesData[0].trim();
        return `${dia}/${mes}/${ano}`;
    }

    precos.forEach((elemento) => {
        const valorOriginal = elemento.textContent;
        const valorFormatado = formatarValor(valorOriginal);
        elemento.textContent = valorFormatado;
    });

    datas.forEach((elemento) => {
        const dataOriginal = elemento.textContent;
        const dataFormatada = formatarData(dataOriginal);
        elemento.textContent = dataFormatada;
    });
});

</script>
<%- include('../../partils/footer') %>