<%- include('partils/header') %>
<%- include('partils/navbar') %>

<div class="container">
    <div class="card">
        <div class="card-header">
            <p class="card-text" >Excluir tarefa</p>
        </div>
        <div class="card-body">

            <p class="card-text descricaoTarefa">
                Deseja realmente excluir a tarefa selecionada?
            </p>
        </div>

        <div class="card-footer text-muted">
            <form action="/deletetaskconfirm" method="POST">
                <a href="/task/<%= tarefa.id %>" class="btn btn-outline-secondary btn-sm">Cancelar</a>

                <input type="hidden" value="<%= tarefa.id %>" name="id">

                <input type="submit" class="btn btn-success btn-sm" value="Confirmar exclusão">
            </form>
        </div>
    </div>
</div>

<%- include('partils/footer') %>