<%- include('partils/header') %>
<%- include('partils/navbar') %>

<!-- Container principal -->
<div class="container">

    <!-- Cartão de edição de informações -->
    <div class="card">
        <!-- Cabeçalho do cartão -->
        <div class="card-header">
            Editar informações da tarefa selecionada
        </div>

        <!-- Corpo do cartão -->
        <div class="card-body">
            <!-- Formulário de edição de tarefa -->
            <form action="/editartarefa" method="POST">

                <!-- Campo para o título da tarefa -->
                <div class="mb-3">
                    <label for="inputTituloInsercaoTarefa" class="form-label">Título da tarefa:</label>
                    <input type="text" class="form-control" id="inputTituloInsercaoTarefa" name="titulo" value="<%= tarefa.titulo %>">
                </div>

                <!-- Campo para a descrição da tarefa -->
                <div class="mb-3">
                    <label for="textAreaInsercaoTarefa" class="form-label">Descrição da tarefa:</label>
                    <textarea class="form-control" id="textAreaInsercaoTarefa" rows="3" name="descricao"><%= tarefa.descricao %></textarea>
                </div>

                <!-- Campo para marcar se a tarefa está concluída ou não -->
                <div class="mb-3">
                    <label for="" class="form-label">Tarefa concluída:</label>
                    <input type="hidden" class="inputTarefaConcluida" value="<%= tarefa.concluido %>">

                    <!-- Opção "Sim" -->
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="concluido" id="radioSimInsercaoTarefa" value="1">
                        <label class="form-check-label" for="radioSimInsercaoTarefa" >
                            Sim
                        </label>
                    </div>

                    <!-- Opção "Não" -->
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="concluido" id="radioNaoInsercaoTarefa" value="0" checked>
                        <label class="form-check-label" for="radioNaoInsercaoTarefa">
                            Não
                        </label>
                    </div>
                </div>

        </div>

        <!-- Rodapé do cartão -->
        <div class="card-footer text-muted">
            <!-- Botão para cancelar edições -->
            <a href="/tarefa/<%= tarefa.id %>" class="btn btn-outline-secondary btn-sm">Cancelar</a>

            <!-- Campo oculto com o ID da tarefa -->
            <input type="hidden" value="<%= tarefa.id %>" name="id">

            <!-- Botão para confirmar as edições -->
            <input type="submit" class="btn btn-success btn-sm" value="Confirmar edições">
        </div>
        </form> <!-- Fim do formulário -->
    </div> <!-- Fim do cartão de edição de informações -->
</div> <!-- Fim do container principal -->


<%- include('partils/footer') %>