<%- include('./partials/header'); %>
<%- include('./partials/navbar'); %>
<!-- <a href="/tarefa/<%= tarefa.id %>"><button>Voltar para a página de detalhes da tarefa</button></a>
 -->
<h1>Edite sua tarefa</h1>
<form action="/editar-tarefa" method="POST">
    <label for="titulo">Título:</label>
    <input type="text" id="titulo" name="titulo" value="<%= tarefa.titulo %>">

    <label for="descricao">Descricão:</label>
    <input type="text" id="descricao" name="descricao" value="<%= tarefa.descricao %>">

    <div class="area_radio_concluido">
        <label for="">Concluído:</label> 
        <label>
            <input type="radio" name="concluido" value="true"> Sim
        </label>
        <label>
            <input type="radio" name="concluido" value="false" checked> Não
        </label>
    </div>

    <input type="hidden" name="id" value="<%= tarefa.id %>">

    <footer>
        <input type="submit" value="Salvar">
    </footer>
</form>
<%- include('./partials/footer'); %>
