<%- include('partils/header') %>
<%- include('partils/navbar') %>
<div class="container">
    <div class="card">
        <div class="card-header">
            Editar informações da tarefa selecionada
        </div>
        <div class="card-body">
            <form action="/editartarefa" method="POST">

                <div class="mb-3">
                    <label for="inputTituloInsercaoTarefa" class="form-label">Título da tarefa:</label>
                    <input type="text" class="form-control" id="inputTituloInsercaoTarefa" name="titulo" value="<%= tarefa.titulo %>">
                </div>
                <div class="mb-3">
                    <label for="textAreaInsercaoTarefa" class="form-label">Descrição da tarefa:</label>
                    <textarea class="form-control" id="textAreaInsercaoTarefa" rows="3" name="descricao"><%= tarefa.descricao %></textarea>
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Tarefa concluída:</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="concluido" id="radioSimInsercaoTarefa" value="1">
                        <label class="form-check-label" for="radioSimInsercaoTarefa" >
                        Sim
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="concluido" id="radioNaoInsercaoTarefa" value="0">
                        <label class="form-check-label" for="radioNaoInsercaoTarefa">
                        Não
                        </label>
                    </div>
                </div>

        </div>
        <div class="card-footer text-muted">
                <a href="/tarefa/<%= tarefa.id %>" class="btn btn-outline-secondary">Cancelar edições</a>
                <input type="hidden" value="<%= tarefa.id %>" name="id">
                <input type="submit" class="btn btn-success" value="Confirmar edições">
            </form>  
        </div>
    </div>
</div>
<%- include('partils/footer') %>