<%- include('partils/header') %>
<%- include('partils/navbar') %>

<div class="container">
    <div class="card">
        <div class="card-body">
            <!-- Título da Card -->
            <h6 class="card-title">
               Excluir tarefa
            </h6>
            <!-- Descrição da Card -->
            <p class="card-text">
                Deseja realmente excluir a tarefa selecionada?
            </p>
        </div>

        <div class="card-footer text-muted">
            <!-- Formulário de Exclusão -->
            <form action="/excluirtarefa" method="POST">
                <!-- Botão para Cancelar Exclusão -->
                <a href="/tarefa/<%= tarefa.id %>" class="btn btn-outline-secondary btn-sm">Cancelar exclusão</a>

                <!-- Campo oculto com o ID da tarefa -->
                <input type="hidden" value="<%= tarefa.id %>" name="id">

                <!-- Botão para Confirmar Exclusão -->
                <input type="submit" class="btn btn-success btn-sm" value="Confirmar exclusão">
            </form>
        </div>
    </div>
</div>

<%- include('partils/footer') %>