<%- include('partils/header') %>
<%- include('partils/navbar') %>

<div class="container">
    <% tarefas.forEach(tarefa=> { %>
        <a href="/task/<%= tarefa.id %>" class="text-decoration-none text-dark">
            <div class="card" id="secao<%= tarefa.id %>">
                <div class="card-body cardTask">
                    <h6 class="card-title tituloTarefa"><%= tarefa.titulo %></h6>
                    <input type="hidden" class="inputTarefaConcluida" value="<%= tarefa.concluido %>">
                    <div class="checkBoxArea">
                        <form action="/completedtask" method="POST">
                            <input type="hidden" value="<%= tarefa.concluido %>" name="concluido">
                            <input type="hidden" value="<%= tarefa.id %>" name="id">
                            <button type="submit" class="material-symbols-outlined">check_box_outline_blank</button>
                        </form>
                    </div>
                </div>
            </div>
        </a>
    <% }); %>
</div>

<%- include('partils/footer') %>
