<!-- Inclui o conteúdo do arquivo 'header' -->
<%- include('partils/header') %>

<!-- Inclui o conteúdo do arquivo 'navbar' -->
<%- include('partils/navbar') %>

<!-- Abre um contêiner para organizar o layout -->
<div class="container">
    <!-- Cria uma linha com até 3 colunas em cada linha para as tarefas -->
        <!-- Itera sobre a lista de tarefas -->
        <% tarefas.forEach(tarefa=> { %>
            <!-- Cria uma coluna para cada tarefa -->
            <a href="/tarefa/<%= tarefa.id %>" class="text-decoration-none text-dark">
                <div class="card">
                    <div class="card-body">
                      <h6 class="card-title tituloTarefa"><%= tarefa.titulo %></h6>
                      <input type="hidden" class="inputTarefaConcluida" value="<%= tarefa.concluido %>">
                    </div>
                </div>
            </a>
        <% }); %>
</div>

<!-- Inclui o conteúdo do arquivo 'footer' -->
<%- include('partils/footer') %>
