<%- include('partils/header') %>
<%- include('partils/navbar') %>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <%= tarefa.titulo %>
                </h5>
                <p class="card-text">
                    <%= tarefa.descricao %>
                </p>
            </div>
            <div class="card-footer text-muted">
                <a href="#" class="btn btn-warning">Editar tarefa</a>
                <a href="/excluirtarefa/<%= tarefa.id %>" class="btn btn-danger">Excluir tarefa</a>
            </div>
        </div>
    </div>
<%- include('partils/footer') %>