<%- include('partils/header') %>
<%- include('partils/navbar') %>

    <!-- Estrutura do cartão de tarefa -->
<div class="container">
    <div class="card">
        <!-- Cabeçalho do cartão -->
        <div class="card-header">
            <!-- Status da tarefa -->
            <p class="card-text" id="statusTask"></p>
        </div>
        <!-- Corpo do cartão -->
        <div class="card-body">
            <!-- Título da tarefa -->
            <h6 class="card-title titleTask">
                <%= tarefa.titulo %>
            </h6>
            <!-- Descrição da tarefa -->
            <p class="card-text descriptionTask">
                <%= tarefa.descricao %>
            </p>
            <!-- Input para o status de conclusão -->
            <input type="hidden" class="inputStatusTask" value="<%= tarefa.concluido %>">
        </div>
        <!-- Rodapé do cartão -->
        <div class="card-footer text-muted">
            <!-- Botão para editar tarefa -->
            <a href="/edittask/<%= tarefa.id %>" class="btn btn-warning btn-sm">Editar tarefa</a>
            <!-- Botão para excluir tarefa -->
            <a href="/deletetask/<%= tarefa.id %>" class="btn btn-danger btn-sm">Excluir tarefa</a>
        </div>
    </div>
</div>

<%- include('partils/footer') %>