<%- include('../../partils/header') %>
<%- include('../../partils/navbar') %>
<div class="container-fluid mt-3 mb-3">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div
                    class="col-12 d-flex justify-content-between align-items-center gap-3">
                    <div>
                        <h2 class="my-1 fs-6">Visualizar usuários cadastrados
                        </h2>
                    </div>
                    <div>
                        <button id="download-to-pdf"
                            class="btn btn-secondary btn-sm text-nowrap ignore-print"><i
                                class="bi bi-printer-fill"></i>
                            Imprimir</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <% if (totalUsuariosCadastrados > 0) { %>
            <div class="row">
                <div class="col-12 mb-3 ignore-print">
                    <input class="form-control form-control-sm" id="myInput"
                        type="text"
                        placeholder="Pesquise por nome ou email..." />
                </div>
                <div class="col-12 mb-0">
                    <p id="totalItensFiltrados" class="mb-3">
                        Total de usuários encontrados:
                        <%= users.length %>
                    </p>
                </div>
            </div>
            <div class="table-responsive" id="tabelaRacks">
                <table
                    class="table table-sm table-striped table-bordered mb-2 mb-md-1">
                    <thead>
                        <tr>
                            <th class="px-2">Nome</th>
                            <th class="px-2">Email</th>
                            <th class="px-2">Hierarquia</th>
                            <th class="px-2 ignore-print">Ações</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        <% users.forEach(user => { %>
                        <tr>
                            <td class="text-nowrap px-2 text-nowrap">
                                <%= user.nome %>
                            </td>
                            <td class="text-nowrap px-2 text-nowrap">
                                <%= user.email %>
                            </td>
                            <td class="px-2 text-nowrap">
                                <% if (user.hierarquia == "adm") { %>
                                Administrador
                                <% } else if (user.hierarquia == "usuario") { %>
                                Usuário
                                <% } else { %>Cliente
                                <% } %>
                            </td>
                            <td class="px-2 ignore-print">
                                <div class="d-flex gap-2 p-0">
                                    <a href="/admin/users/edit/<%= user.id %>"
                                        class="btn btn-sm p-0 text-warning text-nowrap">
                                        <i class="bi bi-pen"></i> Editar</a>
                                    <form action="/admin/users/delete"
                                        method="post"
                                        onsubmit="confirmDelete(event, this)">
                                        <input type="hidden" name="id"
                                            value="<%= user.id %>" />
                                        <button type="submit"
                                            class="btn btn-sm p-0 text-danger text-nowrap">
                                            <i class="bi bi-trash3"></i> Deletar
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            <% } else if (totalUsuariosCadastrados <= 0) { %>
            <p class="my-0">
                Não há nenhum usuário cadastrado para visualização.
                <a class="link-opacity-100" href="/admin/users/new">Clique aqui
                    para realizar o primeiro
                    cadastro.</a>
            </p>
            <% } %>
        </div>
    </div>
</div>
<script>
    const totalItensFiltrados = document.querySelector("#totalItensFiltrados");
    const tabelaRacks = document.querySelector("#tabelaRacks");
    document.addEventListener("DOMContentLoaded", function() {
        var myInput = document.getElementById("myInput");
        myInput.addEventListener("keyup", function() {
            var value = (this.value.toLowerCase()).trim();
            var rows = document.querySelectorAll("#myTable tr");
            var count =
                0; // Variável para contar os resultados encontrados
            rows.forEach(function(row) {
                var text = row.textContent
                    .toLowerCase();
                if (text.indexOf(value) > -1) {
                    row.style.display = "";
                    count++; // Incrementar o contador se o item for encontrado
                } else {
                    row.style.display = "none";
                }
            });
            totalItensFiltrados.innerHTML =
                `Total de usuários encontrados: ${count}`;
            if (count == 0) {
                tabelaRacks.style.display = "none";
                totalItensFiltrados.style.setProperty(
                    'margin-bottom', '0px', 'important');
            } else {
                tabelaRacks.style.display = "";
                totalItensFiltrados.style.setProperty(
                    'margin-bottom', '');
            }
        });
    });
    function confirmDelete(event, form) {
        event.preventDefault(); // Impede o comportamento padrão do formulário
        var userConfirmed = window.confirm(
            "Deseja realmente excluir o usuário selecionado?"
        );
        if (userConfirmed) {
            // Se o usuário confirmar, envie o formulário usando o método POST
            form.submit(); // Envie o formulário
        }
    }
</script>
<%- include('../../partils/footer') %>