<%- include('../../partils/header') %>
<%- include('../../partils/navbar') %>
<div class="container-fluid mt-3 mb-3">
    <div class="card" id="converterPDF">
        <div class="card-header">
            <div class="row">
                <div
                    class="col-12 d-flex justify-content-between align-items-center gap-3">
                    <div>
                        <h2 class="my-1 fs-6">Visualizar preços cadastrados</h2>
                    </div>
                    <div>
                        <button id="download-to-pdf"
                            class="btn btn-secondary btn-sm text-nowrap ignore-print"><i
                                class="bi bi-printer-fill"></i>
                            Imprimir</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <% if (totalRegisteredPrices > 0) { %>
            <div class="row">
                <div class="col-12 mb-3 ignore-print">
                    <input class="form-control form-control-sm" id="myInput"
                        type="text" placeholder="Pesquise..." />
                </div>
                <div class="col-12 mb-0">
                    <p id="totalItensFiltrados" class="mb-3">
                        Total de preços encontrados:
                        <%= prices.length %>
                    </p>
                </div>
            </div>
            <div class="table-responsive" id="tabelaRacks">
                <table
                    class="table table-sm table-striped table-bordered mb-2 mb-md-1">
                    <thead>
                        <tr>
                            <th class="px-2">Cliente</th>
                            <th class="px-2">Descrição</th>
                            <th class="px-2">Valor</th>
                            <th class="px-2">Observação</th>
                            <th class="px-2 ignore-print">Ações</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        <% prices.forEach(price => { %>
                        <tr>
                            <td class="text-nowrap px-2 text-nowrap">
                                <%= price.cliente %>
                            </td>
                            <td class="text-nowrap px-2 text-nowrap">
                                <%= price.descricao %>
                            </td>
                            <td class="px-2 precos text-nowrap">
                                <%= price.valor %>
                            </td>
                            <td class="px-2 text-nowrap">
                                <%= price.observacao %>
                            </td>
                            <td class="px-2 ignore-print">
                                <div class="d-flex gap-2 p-0">
                                    <a href="/admin/prices/edit/<%= price.id %>"
                                        class="btn btn-sm p-0 text-warning text-nowrap">
                                        <i class="bi bi-pen"></i> Editar</a>
                                    <form action="/admin/prices/delete"
                                        method="post"
                                        onsubmit="confirmDelete(event, this)">
                                        <input type="hidden" name="id"
                                            value="<%= price.id %>" />
                                        <input type="hidden" name="cliente"
                                            value="<%= price.cliente %>" />
                                        <button type="submit"
                                            class="btn btn-sm p-0 text-danger text-nowrap">
                                            <i class="bi bi-trash3"></i> Deletar
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            <% } else if (totalRegisteredPrices <= 0) { %>
            <p class="my-0">
                Não há nenhum preço cadastrado para visualização.
                <a class="link-opacity-100" href="/admin/prices/new">Clique aqui
                    para realizar o primeiro
                    cadastro.</a>
            </p>
            <% } %>
        </div>
    </div>
</div>
<script>
    const totalItensFiltrados = document.querySelector("#totalItensFiltrados");
    const tabelaRacks = document.querySelector("#tabelaRacks");
    document.addEventListener("DOMContentLoaded", function() {
        var myInput = document.getElementById("myInput");
        myInput.addEventListener("keyup", function() {
            var value = (this.value.toLowerCase()).trim();
            var rows = document.querySelectorAll("#myTable tr");
            var count = 0;
            rows.forEach(function(row) {
                var text = row.textContent
                    .toLowerCase();
                if (text.indexOf(value) > -1) {
                    row.style.display = "";
                    count++;
                } else {
                    row.style.display = "none";
                }
            });
            totalItensFiltrados.innerHTML =
                `Total de preços encontrados: ${count}`;
            if (count == 0) {
                tabelaRacks.style.display = "none";
                totalItensFiltrados.style.setProperty(
                    'margin-bottom', '0px', 'important');
            } else {
                tabelaRacks.style.display = "";
                totalItensFiltrados.style.setProperty(
                    'margin-bottom', '');
            }
        });
    });
</script>
<%- include('../../partils/footer') %>