<%- include('../../partils/header') %>
<%- include('../../partils/navbar') %>
<div class="container-fluid mt-3">
    <div class="card">
        <div class="card-header">
            <h2 class="my-1 fs-6">Editar informações da rack
                <%= rack.predio %><%= rack.numero %>
            </h2>
        </div>
        <div class="card-body">
            <form action="/admin/racks/update" method="POST"
                onsubmit="verificarDescricaoRack(event, this)">
                <div class="row">
                    <div class="col-12 col-md-6 mb-3 mb-md-1">
                        <input type="hidden" name="id" id="" name="id"
                            value="<%= rack.id %>">
                        <label for="clienteRack" class="form-label">Cliente:</label>
                        <% if (rack.cliente == "Sem cliente") { %>
                        <select class="form-select form-select-sm"
                            name="cliente" id="clienteRack"
                            onchange="verificarCliente()">
                            <option value="LQS">LQS</option>
                            <option value="Sem cliente" selected>Sem cliente
                            </option>
                        </select>
                        <% } else { %><select
                            class="form-select form-select-sm" name="cliente"
                            id="clienteRack" onchange="verificarCliente()">
                            <option value="LQS" selected>LQS</option>
                            <option value="Sem cliente">Sem cliente</option>
                        </select>
                        <% } %>
                    </div>
                    <div class="col-12 col-md-6 mb-2 mb-md-1">
                        <label for="descricaoRack" class="form-label">Descrição:</label>
                        <input type="text" class="form-control form-control-sm"
                            id="descricaoRack" name="descricao"
                            value="<%= rack.descricao %>">
                    </div>
                </div>
        </div>
        <div class="card-footer text-muted">
            <button type="submit"
                class="btn btn-success btn-sm">Confirmar</button>
            </form>
        </div>
    </div>
</div>
<script>
    const clienteRack = document.querySelector("#clienteRack");
    const descricaoRack = document.querySelector("#descricaoRack");
    const valorDescricaoBackup = descricaoRack.value;
    function verificarDescricaoRack(event, form) {
        event.preventDefault();
        if (clienteRack.value != "Sem cliente" && (descricaoRack.value)
            .trim() == "Espaço vazio" || (descricaoRack.value).trim() == false
            ) {
            mensagemErro(
                "Por favor, altere a descrição da rack."
            );
        } else {
            form.submit();
        }
    }
    function verificarCliente() {
        if (clienteRack.value == "Sem cliente") {
            descricaoRack.value = "Espaço vazio";
            descricaoRack.disabled = true;
        } else {
            descricaoRack.value = valorDescricaoBackup;
            descricaoRack.disabled = false;
        }
    }
    verificarCliente();
</script>
<%- include('../../partils/footer') %>