<%- include('../../partils/header') %>
<%- include('../../partils/navbar') %>
<div class="container-fluid mt-3 mb-3">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div
                    class="col-12 d-flex justify-content-between align-items-center gap-3">
                    <div>
                        <h2 class="my-1 fs-6">Visualizar histórico geral
                        </h2>
                    </div>
                    <div>
                        <button id="download-to-pdf"
                            class="btn btn-secondary btn-sm text-nowrap ignore-print"><i
                                class="bi bi-printer-fill"></i>
                            Imprimir</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <% if (totalHistorysCadastrados > 0) { %>
            <div class="row">
                <div class="col-4 mb-3">
                    <label for="cliente" class="form-label">Cliente:</label>
                    <select name="cliente" id="cliente"
                        class="form-select form-select-sm">
                        <option value="LQS">LQS</option>
                    </select>
                </div>
                <div class="col-4 mb-3">
                    <label for="datainicial" class="form-label">Data
                        inicial:</label>
                    <input type="date" class="form-control form-control-sm"
                        name="" id="datainicial"
                        value="<%= datainicial %>"
                        onchange="filtrarData()">
                </div>
                <div class="col-4 mb-3">
                    <label for="datafinal" class="form-label">Data
                        final:</label>
                    <input type="date" class="form-control form-control-sm"
                        name="" id="datafinal"
                        value="<%= datafinal %>"
                        onchange="filtrarData()">
                </div>
                <div class="col-12 mb-3 ignore-print">
                    <input class="form-control form-control-sm" id="myInput"
                        type="text"
                        placeholder="Pesquise..." />
                </div>
                <div class="col-12 mb-0">
                    <p id="totalItensFiltrados" class="mb-0">
                        Total de vendas encontradas:
                        <%= historys.length %>
                    </p>
                </div>
            </div>
            <% if (historys.length > 0) { %>
            <div class="table-responsive mt-3" id="tabelaRacks">
                <table
                    class="table table-sm table-striped table-bordered mb-2 mb-md-1">
                    <thead>
                        <tr>
                            <th class="px-2">Data</th>
                            <th class="px-2">Ação</th>
                            <th class="px-2">Resumo</th>
                            <th class="px-2">Cliente</th>
                            <th class="px-2">Usuário</th>
                            <!-- <th class="px-2 ignore-print">Ações</th> -->
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        <% historys.forEach(history => { %>
                        <tr>
                            <td class="text-nowrap px-2 datas text-nowrap">
                                <%= history.createdAt %>
                            </td>
                            <td class="text-nowrap px-2 text-nowrap">
                                <%= history.acao %>
                            </td>
                            <td class="text-nowrap px-2 text-nowrap">
                                <%= history.resumo %>
                            </td>
                            <td class="text-nowrap px-2 text-nowrap">
                                <%= history.cliente %>
                            </td>
                            <td class="text-nowrap px-2 text-nowrap">
                                <%= history.usuario %>
                            </td>
                            <!-- <td class="px-2 ignore-print">
                                <div class="d-flex gap-2 p-0">
                                    <a href="/admin/sales/edit/<%= history.id %>"
                                        class="btn btn-sm p-0 text-warning text-nowrap">
                                        <i class="bi bi-pen"></i> Editar</a>
                                    <form action="/admin/sales/delete"
                                        method="post"
                                        onsubmit="confirmDelete(event, this)">
                                        <input type="hidden" name="id"
                                            value="<%= history.id %>" />
                                            <input type="hidden" name="cliente"
                                            value="<%= history.cliente %>" />
                                        <button type="submit"
                                            class="btn btn-sm p-0 text-danger text-nowrap">
                                            <i class="bi bi-trash3"></i> Deletar
                                        </button>
                                    </form>
                                </div>
                            </td> -->
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            <% } %>
            <% } else if (totalHistorysCadastrados <= 0) { %>
            <p class="my-0">
                Não há nenhuma venda cadastrada para visualização.
                <a class="link-opacity-100" href="/admin/historys/new">Clique
                    aqui
                    para realizar o primeiro
                    cadastro.</a>
            </p>
            <% } %>
        </div>
    </div>
</div>
<script>
    const totalGeral = document.querySelector("#totalGeral");
    function filtrarData() {
        let datainicial = document.querySelector("#datainicial");
        let datafinal = document.querySelector("#datafinal");
        if (datafinal.value < datainicial.value) {
            datafinal.value = datainicial.value;
        }
        window.location.href =
            `/admin/historys/index?datainicial=${datainicial.value}&datafinal=${datafinal.value}`;
    }
    function confirmDelete(event, form) {
        event.preventDefault(); // Impede o comportamento padrão do formulário
        var movementConfirmed = window.confirm(
            "Deseja realmente excluir o usuário selecionado?"
        );
        if (movementConfirmed) {
            // Se o usuário confirmar, envie o formulário usando o método POST
            form.submit(); // Envie o formulário
        }
    }
    const totalItensFiltrados = document.querySelector("#totalItensFiltrados");
    const tabelaRacks = document.querySelector("#tabelaRacks");
    document.addEventListener("DOMContentLoaded", function() {
        var myInput = document.getElementById("myInput");
        myInput.addEventListener("keyup", function() {
            var value = (this.value.toLowerCase()).trim();
            var rows = document.querySelectorAll("#myTable tr");
            var count =
                0; // Variável para contar os resultados encontrados
            rows.forEach(function(row) {
                var text = row.textContent
                    .toLowerCase();
                if (text.indexOf(value) > -1) {
                    row.style.display = "";
                    count++; // Incrementar o contador se o item for encontrado
                } else {
                    row.style.display = "none";
                }
            });
            totalItensFiltrados.innerHTML =
                `Total de vendas encontradas: ${count}`;
            if (count == 0) {
                tabelaRacks.style.display = "none";
                totalItensFiltrados.style.setProperty(
                    'margin-bottom', '0px', 'important');
                totalGeral.style.display = "none";
            } else {
                tabelaRacks.style.display = "";
                totalItensFiltrados.style.setProperty(
                    'margin-bottom', '');
                totalGeral.style.display = "";
            }
        });
    });
</script>
<%- include('../../partils/footer') %>